body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: lavender; 
    margin: 100px 100px 100px 100px; 
}

p{
    font-family: 'sacrimento', cursive; 
      
    /*#AllAboutMe {

       font-weight: bold; 
       

    }*/


}